<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextName>Kafka</contextName>

    <property name="LOG_PATTERN_CONSOLE" value="[%boldCyan(%contextName)]|%green([%date{yyyy-MM-dd HH:mm:ss.SSS}])|[%thread]|X-Request-UUID:[%magenta(%mdc{x-request-uuid})]|%highlight(%-5level)| %cyan(%logger{39}) - %X{id} %msg %n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                ${LOG_PATTERN_CONSOLE}
            </Pattern>
        </layout>
    </appender>

    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender" >
        <param name="Encoding" value="UTF-8"/>
        <remoteHost>localhost</remoteHost>
        <port>5000</port>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"Kafka", "app_port": "8080"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="logstash"/>
    </root>

</configuration>
